.react-stockcharts-y-axis text,
.react-stockcharts-x-axis text {
  fill: #adb6d6;
}

.react-stockcharts-candlestick-wick path.up {
  stroke: rgb(96, 196, 178);
}

.react-stockcharts-candlestick-wick path.down {
  stroke: rgb(220, 121, 167);
}

.react-stockcharts-tooltip tspan {
  opacity: 0.5;
  fill: #adb6d6;
}

tspan.react-stockcharts-tooltip-label {
  opacity: 1;
  fill: #adb6d6;
}

.react-stockcharts-axis-domain {
  display: none;
}
